# CMake / make
/cmake-build-debug
/cmake-build-release
/CMakeFiles
Makefile
CMakeCache.txt
cmake_install.cmake

# IDE
/.idea
/.vscode

# Misc folders
/docs
/build
/data/flights
/data/passengers.txt

# Executables
nf05_project
nf05_project.exe